Package: jenkinstest
Version: v1
Section: misc
Priority: low
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: sai satish <saisatish.karra@dataguise.com>
Description: [[jenkins spring boot app]]
Distribution: development
Depends: default-jre | java6-runtime
