Package: jenkinstest
Version: 0.0.1~SNAPSHOT
Section: misc
Priority: low
Architecture: all
Maintainer: sai satish <saisatish.karra@dataguise.com>
Description: jenkins spring boot app
Distribution: development
